:root{
    --base-color: #8B4513;
    --secondary-color : #DAA520;
}

h1, h2, h3, h4, h5 h6{
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, main, footer{
    max-width: 640px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    color: #fff;
    background-color: var(--base-color);
    padding: 0.2em;
}

header h1{
    max-width: 80%;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}

footer{
    text-align: center;
    color: #fff;
    background-color: var(--base-color);
    padding: 0.5em;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	right: 1rem;
	top: 3.15rem;
    color: #fff;
    margin: 0.4rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--primary-color);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #adadad;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

section h2{
    text-align: center;
}

#buttons{
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--secondary-color);
}

#regiment-list{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}