@media screen and (min-width: 600px){
    #menu{
        display: none;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    header, main, footer{
        max-width: 1400px;
    }

    #hero-image{
        margin-top: .2em;
    }

    #about{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #about p{
        grid-column: 2/3;
        margin: 0.7rem;
    }

    #union-cav{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #home-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home-section section{
        margin: .5rem;
    }
}