@media screen and (min-width: 670px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }

    header, main, footer{
        max-width: 1000px;
    }

    #menu{
        display: none;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}

@media screen and (min-width: 970px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }

    header, main, footer{
        max-width: 1500px;
    }

    #menu{
        display: none;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}